header{
    color: red;
    background-color: blue;
}

img{
    height: 100%;
    width: 100%;
}

.row {
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.vertical-collage img{
    height: 50%;
}

.row > div{
    flex: 1;
}
